@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
/* -------------------------------------GLOBAL RULES------------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style-type: none;
}

img {
    width: 100%;
}

p, li {
    font-weight: 300;
    line-height: 1.5rem;
    font-size: 1rem;
}

/* -------------------------------------GLOBAL HEADINGS AND PARAGRAPH------------------------------------- */

h1, h2, h3 {
    letter-spacing: .1rem;
    margin-bottom: 1rem;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    letter-spacing: .1rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

/* -------------------------------------NAVIGATION------------------------------------- */

#nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    z-index: 999;
    transition: .3s ease-in-out;
    overflow: hidden;
}

.logo {
    width: 110px;
    transition: .3s ease-in-out;
}

.nav-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: -100%;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.945);
    transition: .3s ease-in-out;
    z-index: 998;
}

/* Ugly stupid css that I need to fix later */
.nav-mobile .btn-download-pdf{
    color: #00c3ff;
}

.nav-mobile .btn-download-pdf:hover{
    color: #fff;
}

.nav-mobile .btn-download-pdf{
    color: #00c3ff;
}
/* ------------------------------------------ */

.nav-mobile li+li {
    margin-top: 1.5rem;
}

.nav-mobile.display {
    top: 0;
    transition: .3s ease-in-out;
}

.scrolling-active {
    background-color: #000000f1;
    transition: .3s ease-in-out;
}

.scrolling-active .logo {
    width: 100px;
    transition: .3s ease-in-out;
}

.nav-desktop li {
    display: inline-block;
}

footer a, footer a:hover, .nav-desktop a, .nav-desktop a:hover {
    transition: 0.2s;
}

footer a, .nav-mobile a, .nav-desktop a {
    color: #fff;
}

footer a:hover, .nav-mobile a:hover, .nav-desktop a:hover {
    color: #00c3ff;
}

.nav-desktop li+li {
    margin-left: 2rem;
}

.nav-desktop {
    visibility: visible;
}

.burger-btn-container, .burger-btn {
    display: none;
}

@media only screen and (max-width: 1050px) {
    .burger-btn {
        display: block;
    }

    .burger-btn-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: .2s ease-in-out;
    }

    .burger-btn {
        width: 20px;
        height: 2px;
        background-color: #00c3ff;
        transition: .2s ease-in-out;
    }

    .burger-btn::before, .burger-btn::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #00c3ff;
        border-radius: 5px;
        transition: .2s ease-in-out;
    }

    .burger-btn::before {
        transform: translateY(-8px);
    }

    .burger-btn::after {
        transform: translateY(8px);
    }
    
    /* =========== BURGER BTN ANIMATION ======== */
    .burger-btn-container.open .burger-btn {
        transform: translateX(-50px);
        background: transparent;
    }
    .burger-btn-container.open .burger-btn::before {
        transform: rotate(45deg) translate(35px, -35px);
        background-color: #000;
    }
    .burger-btn-container.open .burger-btn::after {
        transform: rotate(-45deg) translate(35px, 35px);
        background-color: #000;
    }
    .burger-btn-container.open {
        background-color: #00c3ff;
        border-radius: 50%;
    }
    .nav-desktop {
        display: none;
    }
}

/* -------------------------------------HEADER------------------------------------- */

header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.section-intro-content, .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-download-pdf {
    display: block;
    text-align: center;
    padding: 1rem 3rem;
    border-radius: 2rem;
    border: solid 2px #00c3ff;
    transition: 0.2s;
    color: #00c3ff;
    width: 200px;
    margin-top: 2rem;
}

.btn-download-pdf:hover {
    transition: 0.2s ease-in-out;
    background-color: #00c3ff;
    color: #fff;
}

#bgvid {
    position: fixed;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    z-index: -999;
    filter: brightness(20%);
}

/* -------------------------------------MAIN SECTIONS------------------------------------- */

.wrapper {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}

.section-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

.section-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.section-content-text {
    max-width: 400px;
    padding: 1.5rem;
    width: 100%;
}

.section-intro {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d8dad5;
    color: #000;
    text-align: center;
    padding: 2rem;
    /* FIXED BACKGROUND IMAGE */
    background-image: url("img/cover-desktop.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto;
}

@media only screen and (max-width: 900px) {
    .section-intro {
        background-image: url("img/cover-mobile.jpg");
    }
}

.section-intro-content {
    background-color: rgba(255, 255, 255, 0.884);
    padding: 1.2rem;
}

.img-vr-graphic {
    width: 200px;
    margin-bottom: 1.5rem;
}

footer {
    position: relative;
    background-color: #000;
    color: #fff;
}

.footer-wrapper {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    align-items: start;
    padding: 2rem 0;
}

.up-arrow-alignment {
    display: flex;
    justify-content: center;
}

.imageBox {
    position: absolute;
    top: -50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% 50% 0 0;
    background-color: #000;
    transition: 0.2s ease-in-out;
}

.imageBox:hover .up-arrow-icon{
    border: solid #fff;
    border-width: 0 3px 3px 0;
}

.imageBox:hover:hover {
    background-color: #00c3ff;
}

.imageBox:hover:hover {
    background-color: #00c3ff;
}

.up-arrow-icon{
    position: absolute;
    top: 1.2rem;
    border: solid #00c3ff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transition: 0.2s ease-in-out;
}

.copyright {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 10vw;
    }
    .section-grid {
        grid-auto-rows: 1fr;
        grid-auto-flow: row;
    }
    .item-1 {
        order: 2;
    }
    .item-2 {
        order: 1;
    }
    .footer-wrapper {
        grid-auto-flow: row;
        grid-row-gap: 3rem;
        text-align: center;
    }
}
